#> Custom gitignore file for Docker and Django
# Docker environment
.env

# Python environments
linux-venv/
windows-venv/

# Django migrations
**/migrations/**
!**/migrations
!**/migrations/__init__.py

# Pycache
__pycache__/
*.pyc

# MacOS
.DS_Store

# SQLite
*.sqlite3

#> Custom gitignore file for esite
# Audios
*.ogg
*.mp3

# Media
media/images/
media/original_images/

# Fonts
*.ttf

# SPDX-License-Identifier: (EUPL-1.2)
# Copyright © 2019-2020 Simon Prast
